<html>
<head>
<title>My Web Page</title>
<style>
	.nav{
		background-color: white;
		height: 70px;
		opacity: 0.9;
	}
	ul{
		margin-left: 550px;
		position: fixed;
  		top: 0;
	}
	ul li{
		display: inline;
		line-height: 70px;
		padding: 15px;
	}
	ul li a{
		text-decoration: none;
		color: black;
		font-weight: bold;
		padding: 10px;
		
	}
	ul li a:hover{
		background-color: black;
		color:white;
		
		border-radius:20px;
	}
</style>
</head>
<body>
<div class="nav">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/flight">FLIGHT</a></li>
		<li><a href="#">RESERVATION</a></li>
		<li><a href="#">CANCELATION</a></li>
		<li><a href="/">LOGOUT</a></li>
		
	</ul>
</div>
</body>
</html>